<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Register HiltTestActivity for instrumented Compose UI tests -->
    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.senthapps.slagrimarket.HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>
